evaluation/eval_results/*
evaluation/bop_pred_results/
evaluation/object_codebooks/*
example/.ipynb_checkpoints/*
example/ADD-S.ipynb
example/qualitative-evaluation-LESS.ipynb
*__pycache__*
*.pth
training/checkpoints/*