evaluation/eval_results/*
evaluation/bop_pred_results/
evaluation/object_codebooks/*
evaluation/LMO_eval_gt_2.py
evaluation/LM_eval_gt_2.py
evaluation/TLESS_eval_sixd17_gt_2.py
evaluation/mv_pred_results/
notebook/*
*__pycache__*
*.pth
training/checkpoints/*